@import url("primary.css");

/* =========================
  Layout styles 
  ========================= */
h1 {
  font-size: 3.5rem;
  font-weight: var(--weight-bold);
}

h2 {
  font-size: 1.5rem;
  font-weight: var(--weight-bold);
}
a {
  text-decoration: none;
}
button,
input,
select,
textarea {
  font-family: var(--font-alan);
  font-weight: var(--weight-normal);
  font-style: normal;
}

img {
  width: 100%;
}

/* =========================
  Header styles 
  ========================= */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 4rem;
  z-index: 10;
}
.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-between;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(7px);
  border-radius: 16px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.navlinks-a {
  font-weight: var(--weight-medium);
  color: #000;
}
.navlinks-a:hover {
  transition: color 0.3s ease;
  color: #db0827;
}
.quote-nav-btn {
  background-color: var(--color-bg);
  color: #fff;
  padding: 10px 24px;
  font-weight: var(--weight-medium);
  border-radius: 20px;
}

/* =========================
  Hero styles 
  ========================= */
.hero {
  padding: var(--paddingLg) 4rem;
}
.hero-main {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-top: 8rem;
  justify-content: space-around;
  text-align: center;
  z-index: 2;
}
.hero-main > div {
  flex: 1;
}
.hero-text {
  text-align: left;
  font-family: var(--font-alan);
}
.hero-text p {
  color: #555;
  margin-top: 16px;
  font-size: 1rem;
}
.hero-btn {
  background-color: var(--color-accent);
  border: none;
  font-size: 1rem;
  padding: 8px 24px;
  border-radius: 32px;
  margin-top: 24px;
}
.hero-img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.brands {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #eee;
  border-radius: 32px;
  padding: 0.7rem 2rem;
  margin-top: 2rem;
  z-index: 4;
}
.brands img {
  max-width: 80px;
  height: auto;
  opacity: 0.8;
  filter: grayscale(100%);
}
/* =========================
  About styles 
  ========================= */
.aboutus {
  margin-top: 8rem;
}
.abouth2 {
  font-size: 12px;
}
.aboutspan {
  font-weight: var(--weight-medium);
  font-size: 24px;
}
