:root {
  --color-primary: #50c9ce;
  --color-bg: #2e382e;
  --color-bg2: #111;
  --color-accent: #ddc67b;
  --color-accent2: #5603ad;
  /* Font weights */
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  --paddingLg: 2rem;
  --paddingMd: 1.5rem;
  --paddingSm: 1rem;

  --font-alan: "Alan Sans", sans-serif;
  --font-grotesk: "Space Grotesk", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-alan);
  font-weight: var(--weight-normal);
  font-style: normal;
}
